<%=image_tag 'SHARK05.jpg', :width => '100', :align => "left", :hspace => '0'%>
<h1>Obtuse Shark Hunters Incorporated</h1>
<hr/>
<br/>
<p>Obtuse Shark Hunters Incorporated started out as a pipe dream of two young entrepenuers.
Their dream was that the  shark hunting population of winnipeg would no longer  have to rely on the shady service of American companies.

They began their dream by opening their first franchise in their beloved city, and soon people from across canada were flocking to their store for the latest and greatest gear.

Over the last years, Obtuse Shark Hunters Incorporated has grown to franchises in each province , with distribution across canada, providing a trustable company to handle your shark problems.

We invite you to check out our store, 
</p>
<%= link_to 'View Our Products', products_path %>