<%=image_tag 'SHARK05.jpg', :width => '100', :align => "left", :hspace => '0'%>
<h1> Contact Information</h1>
<hr/>

<h3>Locations:</h3>
<p><b>Winnipeg,Manitoba, </b>900 Portage Avenue R5P 9L2</p>
<p><b>Victoria, British Cloumbia </b>123 Go Street</p>
<p><b>Edmonton, Alberta </b>456 Trent Ave</p>
<p><b>Winnipeg,Manitoba, </b>900 Portage Avenue R5P 9L2</p>

<h3>Business Hours:</h3>
<p><b>Mon-Fri: </b>9:30 A.M - 7:00 P.M</p>
<p><b>Sat: </b>9:30 A.M - 5:30 P.M</p>
<p><b>Sun: </b>12:00 A.M - 5:30 P.M</p>

<h3>Online Support Hours: </h3>
<p><b>24 hours a day, 365 Days a year</b></p>



<%= link_to 'View Our Products', products_path %>