<%=image_tag 'SHARK05.jpg', :width => '100', :align => "left", :hspace => '35'%><h1>All Obtuse Shark Hunting Products</h1>
<hr/>
<br/>
<br/>
<%= link_to 'Add New Product', new_product_path %>
<%= link_to 'About Obtuse Shark Hunters Incorporated', about_path%>
<br/>
<br/>
<%= render @products %>
<br/>